@page
@model RecruitCatWelshsr.Pages.OurTeamModel
@{
    ViewData["Title"] = "The RecruitCat Family";
    ViewData["SubTitle"] = "Family Owned and Operated Since 2020!";
}


<div class="row">
    <div class="col-sm text-center">
        <h1 style="color:blue;">@ViewData["Title"]</h1>
        <h3><span class="badge badge-pill badge-secondary">@ViewData["SubTitle"]</span></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm text-right">
            <h3 style="color:blue;">Sam Welsh</h3>
            <h5><span class="badge badge-primary">President</span></h5>
        </div>
        <div class="col-sm">
            <p>Sam oversees daily operations and ensures that our system is running smoothly. He is also constantly improving our algorithms to create the perfect recruiting process.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-right">
            <h3 style="color:blue;">John Johnson</h3>
            <h5><span class="badge badge-primary">Lead Candidate Coach</span></h5>
        </div>
        <div class="col-sm">
            <p>John is our go-to guy when our candidates have any questions about the recruiting process. he is always available to provide resume reviews, interview prep and application tips.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-right">
            <h3 style="color:blue;">Steve Stevenson</h3>
            <h5><span class="badge badge-primary">Client Services Specialist</span></h5>
        </div>
        <div class="col-sm">
            <p>Steve works with our clients who are seeking candiates to fill positions. He speaks directly to businesses to create an ideal job posting that will recieve the best matches possible.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm text-center">
            <img src="https://s24953.pcdn.co/blog/wp-content/uploads/2018/01/Working-in-an-open-office-1024x576.png" style="width:350px;height:200px;" />
        </div>
        <div class="col-sm text-center">
            <img src="https://www.theladders.com/wp-content/uploads/interview-190927-1000x563.jpg" style="width:350px;height:200px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <img src="https://www.careerindia.com/img/2018/04/8-1522934888.jpg" style="width:350px;height:200px;" />
        </div>
    </div>
</div>

